{# templates/admin/dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
        <h1>Bienvenue sur le tableau de bord de l'admin</h1>

        <div class="container">
                <ul class="list-group">
                        <li class="list-group-item">
                                <a href="{{ path('admin_projects') }}">Gérer les Projets</a>
                        </li>
                        <li class="list-group-item">
                                <a href="{{ path('admin_users') }}">Gérer les Utilisateurs</a>
                        </li>
                        <li class="list-group-item">
                                <a href="{{ path('admin_technologies') }}">Gérer les Technologies</a>
                        </li>

                </ul>
        </div>

        <form action="{{ path('app_logout') }}" method="POST">
                <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
{% endblock %}
