{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre tableau de bord</h1>

    <!-- Boutons pour revenir aux projets ou technologies -->
    <a href="{{ path('user_projects') }}" class="btn btn-primary">Mes Projets</a>
    <a href="{{ path('user_technologies') }}" class="btn btn-primary">Technologies</a>

    <!-- Formulaire de déconnexion -->
    <form action="{{ path('app_logout') }}" method="POST">
        <button type="submit" class="btn btn-danger">Déconnexion</button>
    </form>
{% endblock %}